 <body id="homepage">
    <div>
    <div class="container" id="blur">
        <div class="jumbotron-fluid">
        <h1 class="display-4" id="text-white">Hello!</h1>
        <p class="lead" id="text-white">Do you love to read technical post or love to write them? This is the place where you are looking for. <br>Register now,</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-danger btn-lg" href="#" role="button">Register Now</a>
        </p>
        </div>
    </div>
</div>
 </body>