@import "bootstrap";

#bloglogo{
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border: #ffffff solid 0.5px;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

#menutext:hover{
    color: #ffffff !important;
    background-color: #dc3545;
    border-radius: 3px;
}

#homepage{
    background-image: url("/homebg.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
}

#text-white{
    color: #ffffff;
}

#blur{
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 5% 5%;
    border-radius: 10px;
}
.drag{
    position: fixed;
    Width: 100%;
    bottom: 0;
}

.menutxt{
    font-weight: 700;
    margin-top: 15px;
}

.btnmod{
    width: 11.2%;
    color: #ffffff !important;
}
.btnmod2{
    width: 11.2%;
    color: #000000 !important;
    margin-top: 5px;
}
.arlertmod{
    margin-top: 20px;

}
.title{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.desc{
    text-align: justify;
    font-size: 16px;
    background-color: #0000001f;
    border-radius: 5px;
    padding: 35px 35px 0px 35px;
}
.description{
    padding: 35px 35px 35px 35px;
}

.img{
    width: 80px !important;
    height: 80px !important;
    margin-bottom: 15px;
    margin-right: 10px;
}