<div class="drag">
    <footer class="footer bg-dark">
    <div class="footer-copyright text-center py-3" id="text-white">© 2018 Copyright:
        <%=link_to "BlogApp", root_path, id: "text-white"%>
    </div>
    </footer>
</div>